<!-- Get Username -->
    <form id="loginForm" method="GET">
        <fieldset>
            <legend>Login</legend>
            <label for="username">Username: </label>
            <input type="text" name="username">
            <input type="submit" id="usernameSubmit">
        </fieldset>
    </form>