<center><h1 style="font-size:80px;">Flash Forward</h1></center>
<center><h2>Flashcard Web App</h2></center>

<center><h3>Enter a Username</h3></center>
<!-- Get Username -->
<center>
    <form id="loginForm" method="GET">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <input type="submit" id="usernameSubmit" value='Enter Site'>
    </form>
</center>

<link rel="stylesheet" href="client_style_login.css">
<script src='client_script_login.js'></script>