th, td {
    border:0.1rem solid;
}

td > input {
    background: none;
    color: #1d3557;
    border:none;
}

tr {
    background: white;
}

<<<<<<< HEAD
=======
input {
    font-size:1.2rem;
}

body {
    font-size:1.2rem;
    font-weight:700;
}

#addCard > div {
    width:20%;;
}
.floatRight {
    float:right;
}
#add {
    font-size: 25px;
}
>>>>>>> 654c66331e50958e07f3236acf99151a84765e5f
