th, td {
    border:0.1rem solid;
}

td > input {
    background: none;
    color:black;
    border:none;
}

tr {
    background: white;
}

input {
    font-size:1.2rem;
}

body {
    font-size:1.2rem;
    font-weight:700;
}

#addCard > div {
    width:20%;
}

.floatRight {
    float:right;
}